<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
          <img class="logo" src="https://lh3.googleusercontent.com/proxy/EW06LbZf9dy6RlQAhaNVBv7s-vvlSeZgQAfTshhNRcLOB2nt2aLPVQxmy7XnIP2HiiI1sMZLCRie8MlOSNiBn8pSsu_hwFLhpbctRNWbX67g3DP1GG7IwwEI_ujt" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="{{ routeUrl }}">
            <i class="material-icons">
                {{ icon }}
            </i>
            {{ title }}
        </a>
    </span>
</mat-toolbar>
